.App, .datasetCard  {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 2vw;
  flex-wrap: wrap;
  background-color: #ddd;
}

h2 {
  margin: 20px 10px 0px;
  width: 100%;
}

.dataCard {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #efefef;
  border-radius: 0.5em;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 1em;
}

.revenueCard {
  width: 92%;
  height: 20rem;
}
.fraudOverTimeCard {
  width: 92%;
  height: 20rem;
}
.customerCard {
  width: 30%;
  height: 20rem;
}
.amountCard {
  width: 30%;
  height: 20rem;
}

.fraudCard {
  width: 25%;
  height: 20rem;
}
.fraudAmountCard, .fraudTransactionCard  {
  width: 30%;
  height: 20rem;
}
.fraudPercentageCard {
  width: 50%;
  height: 20rem;
}
